.fa{
    color: white;
}
.title {
    color: white;
}
.black-footer-wallpaper{
    background-color: black;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.company-links{
   display: flex;
   text-align: center;
   align-items: center;
   font-weight: bold;
}
.company-links-column-1{
    width: 150px;
    height: 200px;
}
.company-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-right: solid white 2px;
    color: #cccccc;
}
.support-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: #cccccc;
}
.company-links-column-2{
    width: 150px;
    height: 200px;
}
.company-links-column-3{
    width: 150px;
    height: 155px;
    margin-top: 57px;
}
.third-list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.stay-in-touch-column{
    white-space: nowrap;
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.description{
    color: #cccccc;
}
.newsletter{
    height: 37px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 0;
    color: #777;
    text-align: left;
    padding-left: 1.25em;
    border-radius: 8px;
    background: transparent;
    background-color: white;
}
.social-media-links{
    width: 250px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}