.cart {
    color: black;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}