.st0{fill:#FFFFFF;}

.root {
    width: 100%;
}

li{
    color: white;
    list-style-type: none;
}
a:hover{
    opacity: .7;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.loginBar{
    width: 100%;
    background-color: #363636;
}
.promotionWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
}
.promotion{
    white-space: nowrap;
    text-transform: uppercase;
    color: #00a0df;
    font-size: 13px;
}
.loginContainer{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    width: 15%;
    color: white;
}
.mainNav{
    display: flex;
    height: 70px;
    background-color: black;
    text-transform: uppercase;
    justify-content: space-around;
}
.logoWrapper{
    display: flex;
    align-items: center;
}
.HFLogo{
    width: 150px;
}
.linkContainer{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    margin-right: 9vw;
}
/*
.cart-circle{
    height: 50px;
    margin-top: -10px;
}
.items-in-cart{
    position: absolute;
    right: 196px;
    top: 60px;
    color: white;
}*/
.cart{
    color: white;
}
.white{
    color: white;
}
.fa-shopping-cart{
    color: white;
    font-size: 2.5em;
    margin-top: -5px;
}