.st0{fill:#FFFFFF;}

.root {
    width: 100%;
}

/*li{
    color: white;
    list-style-type: none;
}
a:hover{
    opacity: .7;
    cursor: pointer;
}*/

.loginBar{
    width: 100%;
    background-color: #363636;
}
.promotionWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
}
.promotion{
    white-space: nowrap;
    text-transform: uppercase;
    color: #00a0df;
    font-size: 13px;
}
.loginContainer{
    white-space: nowrap;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 15%
}
.mainNav{
    display: flex;
    height: 70px;
    background-color: black;
    text-transform: uppercase;
    justify-content: space-between;
}
.logoWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.HFLogo{
    width: 150px;

}
/*.linkContainerCenter{
    display: flex;
    justify-content: center;
    width: 300px;
}*/
.linkContainer{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.cart-circle{
    height: 50px;
    margin-left: 15px;
}
.cart{
    color: white;
}

