.InnovationRowWrapper{
    display: flex;
    margin-top: 10px;
    height: 150px;
    width: 100%;
    justify-content: center;
}
.innovationContainer{
    display: flex;
}
.innovation{
    /*height: 150px;*/
    width: 20em;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innovation:hover{
    opacity: .7;
    cursor: pointer;
}
.InnovationShieldColor{
    fill: #0083C1;
}
.parksContainer{
    display: flex;
    /*justify-content: center;*/
}
.parks{
    /*height: 150px;*/
    width: 20em;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.parks:hover{
    opacity: .7;
    cursor: pointer;
}
.parksHeart{
    fill:none; 
    stroke:#000000; 
    stroke-width:2; 
    stroke-miterlimit:10; 
}
.st1{
    stroke-linecap:round;
    fill:none; 
    stroke:#000000; 
    stroke-width:2; 
    stroke-miterlimit:10; 
}
.ourStoryContainer{
    display: flex;
}
.ourStory{
    /*height: 150px;*/
    width: 20em;
    background-color: #f6f6f6;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.ourStory:hover{
    opacity: .7;
    cursor: pointer;
}