.map-footer{
    background-image: url(../assets/footerMap.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width: 100%;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer_logo{
    width: 200px;
    height: 120px;
}
.address{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.personal-name{
    margin-left: 50px;
}
.personal-information{
    color: white;
    font-size: 1.5em;
}