.picture-row-wrapper{
    display: flex;
    justify-content: center;
    height: 325px;
}
.girl-mountains{
    background-image: url(../assets/girlDrinkingGreenHF.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 300px;
    margin-bottom: 25px;
    margin-right: 15px;
}
.couple-dog{
    background-image: url(../assets/familyWithDog.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 300px;
    margin-bottom: 25px;
    margin-right: 15px;
}
.girl-surfer{
    background-image: url(../assets/surfboard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 300px;
    margin-bottom: 25px;
    margin-right: 15px;
}
.girl-island{
    background-image: url(../assets/greenHFisland.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 300px;
    margin-bottom: 15px;
}