
.top-image{
    background-image: url("../../assets/categories/Category_Images_All.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-image{
    text-transform: capitalize;
    color: white;
    font-size: 5em;
}
.product-wrapper{
    display: flex;
    justify-content: center;
}
.product-info-container{
    text-align: center;
}
/*.products-container{
    display: flex;
    justify-content: center;
}*/
.wrap{
    text-align: center;
}
.product-title{
    font-weight: bold;
    font-size: 2em;
}
.swatch-wrapper{
    width: 10vw;
}
.swatch-container{
    
}